# Ignore everything in the storage folder
storage/card_info.csv
storage/config.json
storage/card_scanned.png
counters/monthly_move_count.txt
counters/move_count.txt
static/images/card_scanned.png
counters/failed_reads.txt
static/images/failed/*
storage/combined_crop.jpg
